/*experiment*
/pretrain*
/dataset
/*/__pycache__
/*/*__pycache__
/*/*/*/__pycache__
/*/*/*/*/__pycache__
/__pycache__
/wandb
/output_dir
durlar_tools.zip
slurm*
/output
/.vscode-server
test.py
*.png
iln/build
iln/extern
iln/python_src/voxelizer.cpython-39-x86_64-linux-gnu.so

